<form [formGroup]='formGroup' (ngSubmit)='onSubmit()'>
    <div [dir]="dir">
        <h2 [style]='dir == "rtl" ? "text-align: right;": ""' mat-dialog-title>
            {{'dialogTitles.newFinancialTransaction' | translate}}
        </h2>
        <mat-dialog-content>
            <div class="container" fxLayout="column">

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field [dir]="dir" appearance="outline" fxFlex>
                        <mat-label> {{ 'models.financialTransaction.date' | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName='date'>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field [dir]="dir" appearance="outline" fxFlex>
                        <mat-label> {{ 'models.financialTransaction.title' | translate}}</mat-label>
                        <input matInput autocomplete="off" formControlName='title' />
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field [dir]="dir" appearance="outline" fxFlex>
                        <mat-label> {{ 'models.financialTransaction.type' | translate}}</mat-label>
                        <mat-select formControlName='type' #type required>
                            <mat-option [value]="null"></mat-option>
                            <mat-option *ngFor='let t of transactionTypes' [value]="t.valueGroupId">
                                {{('models.valuegroup.values.financialTransactionType.' + t.value) | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field [dir]="dir" appearance="outline" fxFlex>
                        <mat-label> {{ 'models.financialTransaction.amount' | translate}}</mat-label>
                        <input matInput type="number" autocomplete="off" formControlName='amount' />
                    </mat-form-field>
                </div>

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field [dir]="dir" appearance="outline" [fxFlex]='type.value == 3 ? "33%" : "50%"'>
                        <mat-label> {{ 'models.financialTransaction.employee' | translate}}</mat-label>
                        <mat-select formControlName='employeeId'>
                            <mat-option *ngFor="let e of employees" [value]="e.oid">
                                {{e.displayName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field [dir]="dir" appearance="outline" fxFlex>
                        <mat-label> {{ 'models.financialTransaction.remarks' | translate}}</mat-label>
                        <input matInput autocomplete="off" formControlName='remarks' />
                    </mat-form-field>
                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button type="button" mat-raised-button mat-dialog-close>{{'dialogActions.cancel' | translate}}</button>
            <button type="submit" mat-raised-button color='primary' [disabled]='formGroup.invalid'>
                {{ (data.transactionId ? 'dialogActions.save' : 'dialogActions.add') | translate}} </button>
        </mat-dialog-actions>
    </div>
</form>