<form class="form-horizontal" [formGroup]='formGroup' (ngSubmit)="onSubmit()">
    <div class="col form-group">
        <label for="field" class="text-danger">Column:</label>
        <select id="field" class="form-control" data-width="100%">
      <option></option>
    </select>
    </div>

    <div class="col form-group">
        <label for="operator" class="text-danger">Operator:</label>
        <select id="operator" class="form-control" data-width="100%">
      <option></option>
    </select>
    </div>
    <hr />
</form>