<form class="form-horizontal" [formGroup]='formGroup' (ngSubmit)="onSubmit()">

    <div class="col form-group has-danger">
        <label for="displayName">Name:</label>
        <input type="text" id="displayName" class="form-control" autocomplete="off" formControlName="displayName">
    </div>

    <div class="col form-group">
        <label for="primaryPhone">Primary Phone:</label>
        <input id="primaryPhone" class="form-control" autocomplete="off" formControlName="primaryPhone">
    </div>

    <div class="col form-group">
        <label for="secondaryPhone">Secondary Phone:</label>
        <input id="secondaryPhone" class="form-control" autocomplete="off" formControlName="secondaryPhone">
    </div>

    <div class="form-group">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Submit" />
        </div>
    </div>

</form>