<form [formGroup]='formGroup' (ngSubmit)='onSubmit()'>
    <div [dir]="dir">
        <h2 [style]='dir == "rtl" ? "text-align: right;": ""' mat-dialog-title>
            {{'dialogTitles.newStore' | translate}}
        </h2>
        <mat-dialog-content>
            <div class="container" fxLayout="column">
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field [dir]="dir" appearance="outline" fxFlex>
                        <mat-label> {{ 'models.store.title' | translate}}</mat-label>
                        <input matInput autocomplete="off" formControlName='title'>
                    </mat-form-field>

                    <mat-form-field [dir]="dir" appearance="outline" fxFlex>
                        <mat-label> {{ 'models.store.administrator' | translate}}</mat-label>
                        <mat-select formControlName='administrator'>
                            <mat-option *ngFor="let e of employees" [value]="e.oid">
                                {{e.displayName}}
                            </mat-option>
                        </mat-select>

                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field [dir]="dir" appearance="outline" fxFlex>
                        <mat-label> {{ 'models.store.description' | translate}}</mat-label>
                        <input matInput autocomplete="off" formControlName='description' />
                    </mat-form-field>

                </div>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button type="button" mat-raised-button mat-dialog-close>{{'dialogActions.cancel' | translate}}</button>
            <button type="submit" mat-raised-button color='primary' [disabled]='formGroup.invalid'>
                {{ (data.storeId ? 'dialogActions.save' : 'dialogActions.add') | translate}} </button>
        </mat-dialog-actions>
    </div>
</form>