<!-- <app-mat-spinner-overlay *ngIf="dataGrid?.dataSource.loading$ | async" overlay="true">
</app-mat-spinner-overlay> -->

<div class="container">
    <mat-card>
        <app-data-toolbar [options]='toolbarOptions'>
        </app-data-toolbar>
        <mat-card-content>
            <div class="container">
                <app-data-grid [options]='searchGridOptions'>
                </app-data-grid>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>