<form class="form-horizontal" [formGroup]='formGroup' (ngSubmit)="onSubmit()">

    <div class="col form-group" *ngIf='!formGroup.controls.order.value'>
        <label for="order">{{ 'models.order.oid' | translate }}</label>
        <input type="number" id="order" class="form-control" autocomplete="off" formControlName="order">
    </div>

    <div class="col form-group">
        <label for="date">{{ 'models.orderTicket.reportDate' | translate }}</label>
        <input type="text" id="date" class="form-control" autocomplete="off" formControlName="date" [value]="formGroup.get('date').value | date: 'medium'" readonly>
    </div>

    <div class="col form-group">
        <label for="category" class="text-danger">{{ 'models.orderTicket.category' | translate }}</label>
        <select id="category" class="form-control" data-width="100%">
            <option></option>
        </select>
    </div>

    <div class="col form-group">
        <label for="employee" class="text-danger">{{ 'models.order.displayName' | translate }}</label>
        <select id="employee" class="form-control" data-width="100%">
            <option></option>
        </select>
    </div>

    <div class="col form-group has-danger">
        <label for="report">{{ 'models.order.report' | translate }}</label>
        <textarea id="report" rows="3" class="form-control" formControlName="report"></textarea>
    </div>

    <div class="form-group">
        <div class="col">
            <input type="submit" class="btn btn-success" value="Submit" />
        </div>
    </div>

</form>